<section id="sisters">
  <div class="container-fluid">
    <div class="row text-center">
      <h2 class="section-heading">Sister Companies</h2>
    </div>
    <div class="row flexbox flexbox-center">
    {{ range .Params.sisters }}
      {{ $url := printf "img/%s" .img }}
      <hr>
      <div class='row'>
        <div class="col-md-4 col-md-offset-2">
         <a href="{{ .url }}"> <img style="display:block; margin-left: auto;" src="{{ $url | absURL }}"  /></a>
        </div>
        <div class='col-md-5'>
          <a href="{{ .url }}"><h5 style="padding-top: none">{{ .name }}</h5></a>
            <p>
            {{ .description }}
            </p>
        </div>
      </div>
    {{ end }}
    </div>
  </div>
</section>

<section id="partners">
  <div class="container-fluid">
    <div class="row text-center">
        <h2 class="section-heading">Partners</h2>
    </div>

    {{ range .Params.partners }}
      {{ $url := printf "img/%s" .img }}
      <div class='row'>
        <div class="col-md-4 col-md-offset-2">
         <a href="{{ .link }}"> <img style="display:block; margin-left: auto;" src="{{ $url | absURL }}"  /></a>
        </div>
        <div class='col-md-6'>
          <a href="{{ .link }}"><h5 style="padding-top: none">{{ .name }}</h5></a>
            <p>
            {{ .description }}
            </p>
        </div>
      </div>
    {{ end }}

  </div>
</section>
