<div class="col-md-4 col-sm-6 portfolio-item">
  <a href="#case-study-{{ .Scratch.Get "index" }}" class="portfolio-link" data-toggle="modal">
    <div class="portfolio-hover">
      <div class="portfolio-hover-content">
      </div>
    </div>
    {{ if .Params.img }}
      {{ $url := printf "img/case-study/%s" .Params.img }}
      <img src="{{ $url | absURL }}" class="img-responsive" alt="">
    {{ else }}
      <img src="{{ "/img/case-study/placeholder.png" | absURL }}" class="img-responsive" alt="">
    {{ end }}

  </a>
  <div class="portfolio-caption">
      <h4>{{ .Params.title | markdownify }}</h4>
      <p class="text-muted">
        {{ with .Params.cases }}
          <a href="{{ add "/cases/" . | urlize }}">
            {{ . | humanize }}
          </a>
        {{ end }}
      </p>
  </div>
</div>
