---
layout: default
section_id: sisters
---


<div class='full'>
  <div class='row'>
    <div class='small-12 columns'>
      <h2 class="margin-bottom">Our Sister Companies</h2>
    </div>
  </div>

  {% assign sisters = site.data.sisters %}
  {% for sister in sisters %}
    <hr class="hide-for-medium-up">
    <div class='row'>
      <div class='medium-3 medium-offset-1 columns'>
       <a href={{sister.url}}> <img class="fadeinleft" style="display:block; margin: 0 auto; padding-bottom: 20px;" src="{% image_path sisters/{{sister.image}} magick:quality:80 image_optim:optimize:1 %}" /></a>
      </div>
      <div class='medium-6 columns end'>
        <!-- <div class='spacing'></div> -->
        <a href={{sister.url}}><h4>{{sister.name}}</h4></a>
        <!-- <div class='spacing'></div> -->
          <p>
          {{sister.description}}
          </p>
      </div>
    </div>
  {% endfor %}
  <hr class="show-for-small" style="border-width: 3px 0 0; margin: 0 0 20px 0">
  <hr class="show-for-medium-up">
  <div class='row'>
    <div class='small-12 columns'>
      <h2 class="margin-bottom">Our Partners</h2>
    </div>
  </div>
  {% assign partners = site.data.partners %}
  {% for partner in partners %}
    <div class='row'>
      <div class='medium-3 medium-offset-1 columns'>
        <a href={{partner.url}}><img class="fadeinleft" style="display:block; margin: 0 auto; padding-bottom: 20px;" src="{% image_path partners/{{partner.image}} magick:quality:80 image_optim:optimize:1 %}" /></a>
      </div>
      <div class='medium-6 columns end'>
        <!-- <div class='spacing'></div> -->
        <a href={{partner.url}}><h4>{{partner.name}}</h4></a>
        <!-- <div class='spacing'></div> -->
          <p>
          {{partner.description}}
          </p>
      </div>
    </div>
    </br>
  {% endfor %}
</div>
