<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

  {{ partial "head" . }}

  <body id="page-top">
    {{ partial "nav" . }}
    {{ partial "hero" . }}

    {{ if .Site.Params.services.enable }}
      {{ partial "services" . }}
    {{ end }}

    {{ if .Site.Params.clients.enable }}
      {{ partial "clients" . }}
    {{ end }}

    {{ if .Site.Params.contact.enable }}
      {{ partial "contact" . }}
    {{ end }}

    {{ if .Site.Params.footer.enable }}
      {{ partial "footer" . }}
    {{ end }}

    {{ partial "js" . }}
  </body>
</html>
