<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <h4>Our history</h4>
      <h2>Who are we?</h2>
      <div class='spacing'></div>
      <p>
        Cevo is an IT consultancy specialising in iterative software delivery, automation and devops. We help organisations to deliver higher quality software to market faster by leveraging the cloud and continuous delivery practices. We work with some of Australia’s most innovative enterprises, exciting start ups and mature technology organisations to automate their infrastructure provisioning, bring new platforms and products to market quickly, and enhance the technical capability of internal technology and delivery teams.
       </p>
    </div>
  </div>
  <div class='three spacing'></div>
</div>
