ul.actions {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

  ul.actions li {
    display: inline-block;
    padding: 0 1.5em 0 0;
    vertical-align: middle;
  }

    ul.actions li:last-child {
      padding-right: 0;
    }

  ul.actions.pagination {
    float: right;
    padding-right: 50px;
  }

  ul.actions.pagination .next {
    text-decoration: none;
  }

    ul.actions.pagination .next:after {
      content: "";
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-transform: none !important;
    }

    ul.actions.pagination .next:after {
      content: '\f054';
    }

  ul.actions.pagination .previous {
    text-decoration: none;
  }

    ul.actions.pagination .previous:before {
      content: "";
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-transform: none !important;
    }

    ul.actions.pagination .previous:before {
      content: '\f053';
    }

  @media screen and (max-width: 1280px) {

    ul.actions.pagination {
      text-align: center;
    }

      ul.actions.pagination .next, ul.actions.pagination .previous {
        min-width: 20em;
      }

  }

  @media screen and (max-width: 736px) {

    ul.actions.pagination .next, ul.actions.pagination .previous {
      min-width: 18em;
    }

  }

  ul.actions.small li {
    padding: 0 1em 0 0;
  }

  ul.actions.vertical li {
    display: block;
    padding: 1.5em 0 0 0;
  }

    ul.actions.vertical li:first-child {
      padding-top: 0;
    }

    ul.actions.vertical li > * {
      margin-bottom: 0;
    }

  ul.actions.vertical.small li {
    padding: 1em 0 0 0;
  }

    ul.actions.vertical.small li:first-child {
      padding-top: 0;
    }

  ul.actions.fit {
    display: table;
    margin-left: -1em;
    padding: 0;
    table-layout: fixed;
    width: calc(100% + 1em);
  }

    ul.actions.fit li {
      display: table-cell;
      padding: 0 0 0 1em;
    }

      ul.actions.fit li > * {
        margin-bottom: 0;
      }

    ul.actions.fit.small {
      margin-left: -0.5em;
      width: calc(100% + 0.5em);
    }

      ul.actions.fit.small li {
        padding: 0 0 0 0.5em;
      }

  @media screen and (max-width: 480px) {

    ul.actions {
      margin: 0 0 2em 0;
    }

      ul.actions li {
        padding: 1em 0 0 0;
        display: block;
        text-align: center;
        width: 100%;
      }

        ul.actions li:first-child {
          padding-top: 0;
        }

        ul.actions li > * {
          width: 100%;
          margin: 0 !important;
        }

      ul.actions.small li {
        padding: 0.5em 0 0 0;
      }

        ul.actions.small li:first-child {
          padding-top: 0;
        }

  }
