---
layout: blog
---

<div class='mod modBlogPost big no_bg'>
    {% for image in page.images %}
    {% image {{image}} magick:resize:786x398 image_optim:optimize:1 %}
    {% endfor %}
  <div class='content'>
    <p class='info'>
      <span>{{page.date | date: "%B %d, %Y" }}</span>
      /
      <span>
        by
        <a href="">{{page.author}}</a>
      </span>
      /
      <span>
        In
        {% for cat in page.categories %}
          <a href="#">{{cat}}</a>
          {% unless forloop.last %}
              ,
          {% endunless %}
        {% endfor %}
      </span>
    </p>
    <h2><a href="{{page.url}}">{{page.title}}</a></h2>
    {{content}}
  </div>
</div>
