{{ if and (isset .Params "featuredpath") (ne .Params.featuredpath "") }}
    {{ $.Scratch.Set "path" .Params.featuredpath }}

    {{ if and (isset .Params "thumbnail") (ne .Params.featuredpath "") }}
        {{ $path := $.Scratch.Get "path" }}

        <a href="{{ .Permalink }}" class="image featured">
            <img src="{{ $path }}/{{ .Params.thumbnail }}" />
        </a>
    {{ end }}
{{ end }}

<a href="{{ .Permalink }}" class="image featured">
    <img src="/img/{{ .Params.thumbnail }}" />
</a>
