<ul><li></li></ul>
<ul class="stats">
    {{ if isset .Params "categories" }}
        {{ $categoryCount := (len .Params.categories) }}

        {{ if ge $categoryCount 1 }}
            <li>
                {{ if gt $categoryCount 1 }}
                    Categories
                {{ else }}
                    Category
                {{ end }}
            </li>
        {{ end }}

        <!-- Display the categories associated with this post -->
        {{ range .Params.categories }}
            <li><a href='{{ add "/categories/" . | urlize }}'>{{ . }}</a></li>
        {{ end }}
    {{ end }}
</ul>
<ul><li></li></ul>
<ul class="stats">
    {{ if isset .Params "tags" }}
        {{ $tagsCount := (len .Params.tags) }}

        {{ if ge $tagsCount 1 }}
            <li>
                {{ if gt $tagsCount 1 }}
                    Tags
                {{ else }}
                    Tag
                {{ end }}
            </li>
        {{ end }}

        <!-- Display the categories associated with this post -->
        {{ range .Params.tags }}
            <li><a href='{{ add "/tags/" . | urlize }}'>{{ . }}</a></li>
        {{ end }}
    {{ end }}
</ul>